@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase

@{
    Layout = "Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="/Content/myStyles.css" />

<form class="form-horizontal form-small" role="form" method="POST">
    <fieldset>
        <legend>login</legend>
        <div class="form-group">
            <label for="textinput">Username</label>
            <input id="textinput" name="Username" type="text" placeholder="email address" class="form-control">
        </div>
        <div class="form-group">
            <label for="passwordinput">Password</label>
            <input id="passwordinput" name="password" type="password" placeholder="" class="form-control">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="true"> Remember me?
            </label>
        </div>
        <div class="form-group">
                <button id="login" name="login" class="btn btn-default">login</button>
        </div>

    </fieldset>
</form>


<div>
    <hr/>

    @if (Model.Errored)
    {
        <div id="errorBox" class="alert alert-info">Invalid Username or Password. <br/>
            If repeated login attempts fail your account may be locked. Try waiting for ten minutes
        </div>
    }
</div>
