@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.IEnumerable<NancyUserManager.Models.Users>>

@{
    Layout = "Shared/_Layout.cshtml";
}

<h4>Users</h4>
<table class="table table-condensed table-hover">
    <thead><tr>
               <th>User Name</th><th>First</th><th>Last</th><th>Created</th><th></th><th></th><th></th></tr>
    </thead>
    <tbody>
        
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Email</td>
                <td>@u.FirstName</td>
                <td>@u.LastName</td>
                <td>@u.CreateDate</td>
                <td><a href="/EditUser/@u.Guid"><span class="glyphicon glyphicon-edit"> Edit</span></a></td>
                <td><a href="#"> <span class="glyphicon glyphicon-user"> Roles</span></a></td>
               
                @if (u.Email.Trim() == "admin@admin.com")
                 {<td></td>}
                else
                {<td><a href="/DeleteUser/@u.Guid"><span class="glyphicon glyphicon-trash"> Delete</span></a></td>}
            </tr>
        }
    </tbody>
</table>