<h4>Admin Menu</h4>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/AddUser">Create a User</a></li>
    <li><a href="/Users">Manage Users</a></li>
    <li><a href="/Accounts">Manage Accounts</a></li>
    <li><a href="/Reports">View Reports</a></li>
</ul>