@{
    Layout = "Shared/_Layout.cshtml";
    ViewBag.Title = "Culture";
}
<div>
    Culture is @ViewBag.Culture
</div>
<div>
    Claims=@ViewBag.Claims
</div>
<div>
    User is authorised= @ViewBag.Authorised
</div>
<div>User is admin?: @ViewBag.IsAdmin</div>
